
*{
  list-style: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  border: solid black 5px;
  
}
li{
  margin: 20px;
  width: min-content;
  height: max-content;
  
}
